.c-header {
  color : @white
}

.c-menu-backg {
  background-color: @jRed;
}

.c-red {
  color : @jRed;
}

.c-gray {
  background-color: @jGray;
}

.c-box-shadow {
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 10px 10px#888;
  box-shadow: 0 0 10px 10px #888;
}

.thumbnail {

  border: none;
  box-shadow: none;
}

.c-yellow-hover :hover {
  color : @jYellow;
}