.conference {
  font-size: @fontSize1;
  font-family: @fontAvenirLT45Book;

}

.lieu {
  font-size: @fontSize2;
  font-family: @fontAvenirLT45Book;
  line-height: 0.5px;
}

.login {
  font-size: @fontSize3;
  font-family: @fontAnotherTypewriter;
}
