.conference {
  font-size: @headerFontSize1;
  font-family: @fontAvenirLT45Book;

}

.lieu {
  font-size: @headerFontSize2;
  font-family: @fontAvenirLT45Book;
  line-height: 0.5px;
}

.login {
  font-size: @headerFontSize3;
  font-family: @fontAnotherTypewriter;
}
