@white : #fff;


@fontAvenirLT55Roman :'Avenir LT 55 Roman' ;
@fontAvenirLT45Book :'Avenir LT 45 Book' ;
@fontAnotherTypewriter : 'Another Typewriter';
@headerFontSize1 : 50px;
@headerFontSize2 : 30px;
@headerFontSize3 : 25px;

@menuFontFamily : 'Another Typewriter';
@jRed : #8b0c13;
@jGray : #e0dcdc;
@JDarkGray : darken(@jGray, 10%);
@jYellow : #ecec0b;
@menuFontSize : 18px;