<div ng-controller="AgendaCtrl" class="">

    <div ng-repeat="day in days" class="">
        <div class="day">
            <div class="jbox">
                <div><h2 class="c-red">{{day.day}} - {{ 'agenda.day' | i18n }} {{$index + 1}}</h2></div>
                <div class="room">
                    <div ng-repeat="room in day.rooms">
                        <div class="container">
                            <div class="col-lg-2">
                                <h3>{{room.label}}</h3>
                            </div>
                            <div class="col-lg-10 thumbnails">
                                <div class="row">
                                    <div ng-repeat="session in room.sessions" class="session col-lg-3 thumbnail" ng-click="openSession(session)">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div ng-repeat="speaker in session.fullSpeakers">
                                                    <div class="pull-left">
                                                        <img src="{{speaker.photo}}" width="40">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-10">
                                                <div>{{session.start | hour}} {{session.end | hour}}</div>
                                                <div><b>{{session.title}}</b></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="room-separator" ng-hide="$last"></div>
                    </div>
                </div>
                <br/>
            </div>
        </div>

    </div>

    <div modal="shouldBeOpen" close="close()" options="opts">
        <div class="modal-header">
            <div ng-repeat="speaker in selectedSession.fullSpeakers">
                <div class="pull-left">
                    <img src="{{speaker.photo}}" width="50">
                </div>
                <h4>&nbsp;{{speaker.firstname}} {{speaker.lastname}}</h4>
            </div>
            <h2>&nbsp;{{selectedSession.title}}</h2>
        </div>
        <div class="modal-body">
            <div>{{selectedSession.description}}</div>
            <br/>
            <div><b>{{ 'session.keyword' | i18n }}</b>: {{selectedSession.keyword}}</div>
        </div>
    </div>

</div>