<div class="span12" ng-controller="RegisterCtrl" >
    <form name="registerForm" class="form-horizontal" >
        <fieldset>
            <legend>{{ 'form.register.info' | i18n }}</legend>
            <div ng-show="isInProgress">
                <h3 class="c-red">{{ 'form.register.wait' | i18n }}</h3>
            </div>
            <jc-input-text input-type="email" label="'form.email'" property="email" model="user.email"></jc-input-text>
            <jc-input-text input-type="password" label="'form.password'" property="password" model="user.password" msg="{{'form.password.min' | i18n}}" ></jc-input-text>
            <jc-input-text input-type="text" label="'form.firstname'" property="firstname" model="user.firstname"></jc-input-text>
            <jc-input-text input-type="text" label="'form.lastname'" property="lastname" model="user.lastname"></jc-input-text>
            <jc-input-text input-type="text" label="'form.city'" property="city" model="user.city"></jc-input-text>
            <jc-input-text input-type="text" label="'form.country'" property="country" model="user.country"></jc-input-text>
            <div>
                <h4 class="c-red">{{ passwordError }}</h4>
            </div>
            <div class="control-group">
                <button class="btn" ng-click="submitForm()" ng-disabled="!isValid()">{{'form.submit' | i18n}}</button>
            </div>
        </fieldset>
    </form>

    <form name="sendNewPasswordForm" class="form-horizontal">
        <fieldset>
            <legend>Mot de passe oublié ?</legend>
            <div class="control-group">
                <jc-input-text input-type="email" label="'form.email'" property="newPassEmail" model="newPassEmail"></jc-input-text>
                <button class="btn" ng-click="sendNewPassword(newPassEmail)">{{'form.send' | i18n }}</button>
                <h4 class="c-red">{{ newPassError }}</h4>
            </div>

        </fieldset>
    </form>



</div>
