<div class="col-lg-12">
    <form name="cfpForm" class="form-horizontal" ng-controller="CfpCtrl">
        <fieldset>
            <div class="row">
                <div class="col-lg-6" ng-show="checkSpeaker()">
                    <div class="jbox">
                        <h1>{{ 'cfp.speaker' | i18n }}</h1>
                        <jc-input-text input-type="email" label="'form.email'" property="email" model="user.email"></jc-input-text>
                        <jc-input-text input-type="password" label="'form.password'" property="password" model="user.password" msg="{{'form.password.min' | i18n}}"></jc-input-text>
                        <jc-input-text input-type="text" label="'form.firstname'" property="firstname" model="user.firstname"></jc-input-text>
                        <jc-input-text input-type="text" label="'form.lastname'" property="lastname" model="user.lastname"></jc-input-text>
                        <jc-input-text input-type="text" label="'form.city'" property="city" model="user.city"></jc-input-text>
                        <jc-input-text input-type="text" label="'form.country'" property="country" model="user.country"></jc-input-text>
                        <jc-text-area label="'form.biography'" property="bio" model="user.biography"></jc-text-area>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="jbox">
                        <h1>{{ 'cfp.paper' | i18n }}</h1>
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="category">{{'form.category' | i18n}}</label>

                            <div class="col-lg-9">
                                <select id="category" name="category" class="form-control" ng-model="cfp.category">
                                    <option value=""></option>
                                    <option ng-repeat="cat in categories" value="{{cat.label}}">{{cat.label}}</option>
                                </select>
                            </div>
                        </div>
                        <jc-input-text input-type="title" label="'form.title'" property="title" model="cfp.title"></jc-input-text>
                        <jc-input-text input-type="summary" label="'form.summary'" property="summary" model="cfp.summary"></jc-input-text>
                        <jc-input-text input-type="text" label="'form.keyword'" property="keyword" model="cfp.keyword"></jc-input-text>
                        <jc-text-area label="'form.description'" property="description" model="cfp.description"></jc-text-area>
                    </div>
                    <br/>
                    <div class="control-group">
                        <button class="btn btn-primary btn-lg pull-right" ng-click="submitForm()" ng-disabled="!isValid()">{{'form.submitCfp' | i18n}}</button>
                    </div>


                </div>
            </div>


        </fieldset>
    </form>
    <br/>
</div>