<div class="row header-back l-header-padding-top c-header">
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="logo-jcertif"></div>
                    </div>
                </div>
                <div class="row c-mobile-hd-back">
                    <div class="col-md-12 col-lg-12">
                        <div class="logo-html5 pull-left l-header-img-margin"></div>
                        <div class="logo-android pull-left l-header-img-margin"></div>
                        <div class="logo-java pull-left l-header-img-margin"></div>
                        <div class="logo-php pull-left l-header-img-margin"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1 col-lg-6 col-lg-offset-2 c-mobile-hd-back">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="row">

                                    <div class="col-md-12 col-lg-12">
                                        <div class="point-conference pull-left hidden-xs"></div>
                                        <div class="conference">{{"header.conference" | i18n }}</div>
                                        <div class="lieu">{{"header.city" | i18n }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="point-vert pull-left"></div>
                                <div class="pull-left login">{{"header.date" | i18n }}</div>
                                <div class="point-jaune pull-left"></div>
                                <a href="#/register" class="c-yellow-hover" ng-show="!logged"><div class="login">{{"header.login" | i18n }}</div></a>
                                <a ng-click="logout()" class="c-yellow-hover" ng-show="logged"><div class="login">{{"header.logout" | i18n }}</div></a>
                            </div>
                        </div>
                        <div class="row l-header-img-margin">
                            <div class="col-md-12 col-lg-12">
                                <div class="fr" ng-click="changeLang('FR')" ng-class="FRClass"></div>
                                <div class="en" ng-click="changeLang('EN')" ng-class="ENClass"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pull-right c-red" ng-show="logged"><h4>{{ user.email }}</h4></div>
            <div class="col-md-6 col-lg-6" ng-show="!logged">&nbsp;</div>
        </div>
    </div>
</div>

