<div class="row header-bckgd l-header-padding-top c-header">
    <div class="span12">
        <div class="row">
            <div class="span3">
                <div class="jcertif-logo"></div>
            </div>
            <div class="span7 offset2">
                <div class="row">
                    <div class="span7">
                        <div class="row">
                            <div class="span6 offset1">
                                <div class="row">
                                    <div class="span7">
                                        <div class="pointer-conference-header pull-left l-header-img-margin"></div>
                                        <h3 class="f-family-1">{{"header.conference" | i18n }}</h3>
                                        <h3 class="f-family-1">{{"header.city" | i18n }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <div class="html5-icon pull-left l-header-img-margin"></div>
                <div class="android-icon pull-left l-header-img-margin"></div>
                <div class="java-icon pull-left l-header-img-margin"></div>
                <div class="php-icon pull-left l-header-img-margin"></div>
            </div>
            <div class="span6 offset2">
                    <div class="pointer-vert-date pull-left l-header-img-margin"></div>
                    <h4 class="pull-left f-family-2">{{"header.date" | i18n }}</h4>
                    <div class="pointer-jaune-login pull-left l-header-img-margin"></div>
                    <a href="#/register" class="c-yellow-hover"><h4 class="f-family-2">{{"header.login" | i18n }}</h4></a>
                <div class="fr" ng-click="changeLang('FR')" ng-class="FRClass"></div>
                <div class="en" ng-click="changeLang('EN')" ng-class="ENClass"></div>
            </div>
        </div>
        <div class="row">
            <div class="span6">&nbsp;</div>

        </div>
    </div>
</div>

