.c-header {
  color : @white
}

.c-menu-backg {
  background-color: @jRed;
}

.c-red {
  color : @jRed;
}

.c-gray {
  background-color: @jGray;
}

.thumbnail {

  border: none;
  box-shadow: none;
}

.c-yellow-hover :hover {
  color : @jYellow;
}